body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    font-size: 10em;
    text-align: center;
}

#grid {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.pokemon-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.5s;
}

.pokemon-card:hover {
    transform: scale(1.05);
    border: 2px solid black;
    cursor: pointer;
}

.pokemon-card > img {
    height: 300px;
    width: 300px;
}